body {
	margin: 0;
	background-color: blueviolet;
}

.wrapper {
	width: 100%;
	background-position: center;
	display: flex;
	align-items: center;
	flex-flow: column;
}

.wrapper-1 {
	background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}


.header {
	width: 1200px;
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.header-logo {
	width: 186px;
}

.header-logo-title {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	/* or 35px */


	letter-spacing: 0.06em;

	/* color-primary */

	color: #F1CDB3;
	text-align: center;
}

.header-logo-subtitle {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	/* identical to box height */


	letter-spacing: 0.1em;

	/* color-light-xl */

	color: #FFFFFF;
	margin-top: 10px;
	text-align: center;
}

.header-nav-menu {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	/* identical to box height, or 24px */


	/* color-light-s */

	color: #CDCDCD;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;

	display: flex;
	width: 443px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3px;
}

.header-nav-menu-link-active {
	color: #FAFAFA;
}

.header-nav-menu-link {

}

.start-screen {
	width: 1280px;
	height: 908px;
}
.start-screen-content {
}
.start-screen-content-heading {
}
.start-screen-content-subheading {
}
.button-primary {
}
.start-screen-dog {
}